services:
  - type: web
    name: system-design-mailer
    env: go
    buildCommand: go build -o server cmd/server/main.go
    startCommand: ./server
    envVars:
      - key: PORT
        value: 10000
      - key: GEMINI_API_KEY
        sync: false
      - key: SMTP_HOST
        value: smtp.gmail.com
      - key: SMTP_PORT
        value: 587
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: SENDER_EMAIL
        sync: false
      - key: MONGO_URI
        sync: false # User must provide this
